
1) The system shall provide to travelers a form to create travel groups. 

2)The system  shall provide to travelers a section to rent a house.

3)The system shall provide to renters a form to post rent announcements.

//Additional functional requirements usefull for the implementation of the system.

4)The system shall provide to travelers a users list based on their personality.

5)The system shall provide to travelers a destination list based on their personality.

6) The system shall provide to travelers to join groups.

7) The system shall provide to travelers a form to create groups.